.social-login   
    button.social-login__gitgub
        a(href=routes.gitHub)
            span    
                i.fab.fa-github
            | continue with Github    
    button.social-login__kakaoTalk
      a(href=routes.kakao)
            span    
                i.fas.fa-comment
            |  continue with KakaoTalk       