.social-login   
    button.social-login__gitgub
        span    
            i.fab.fa-github
        | continue with Github    
    button.social-login__facebook
        span    
            i.fab.fa-facebook
        | continue with Facebook       