extends layout/main
include mixins/videoBlock


block content
        .search__header
             h4 Searching by #{searchingBy}
        .search__videos
            if videos.length===0
                h5 Videos not found
            each item in videos
                +videoBlock({
                    videoFile:item.videoFile,
                    title:item.title,
                    views:item.views,
                    id : item.id
                    })