@import "main.scss";
@import "config/_variables.scss";
@import "config/reset.scss";
@import "config/utils.scss";

//partials
@import "partials/header.scss";
@import "partials/footer.scss";
@import "partials/form.scss";
@import "partials/socialButton.scss";

//pages
@import "pages/home.scss";
@import "pages/videoDetail.scss";
@import "pages/editProfile.scss";
@import "pages/userDetail.scss";

.videoBlock video {
  margin-bottom: 10px;
  max-width: 100%;
  width: 300px;
  height: 300px;
}

.videoBlock .videoBlock__title {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px;
}

.home-videos {
  display: grid;
  grid-template-columns: repeat(6, minmax(150, 1fr));
  grid-gap: 30px;
}
.home-videos .videoBlock:first-child,
.home-videos .videoBlock:nth-child(2) {
  grid-column: span 3;
}
.home-videos .videoBlock:nth-child(3),
.home-videos .videoBlock:nth-child(4),
.home-videos .videoBlock:nth-child(5) {
  grid-column: span 3;
}

.video__player {
  video {
    height: 180px;
    width: 100%;
  }
}
